body{
    margin: 0px;
    box-sizing: border-box;
    background-color: #f0f0f0;
    display: flex;
    min-height: 100vh;
    font-family: 'regular';
}
h1,h2,h3,h4,h5,h6{
    margin: 5px 0px;
}
input[type=number]{

    width: 50%;
    text-align: center;
    margin: 0px auto 10px auto;
}
button{
    margin-top: 30px;
    background-color: rgb(73, 180, 247);
    color: white;
    border: none;
    border-radius: 15px;
    padding: 10px 20px;
}
button:hover{
    cursor: pointer;
    background-color: rgb(133, 203, 247);
}
.component{
    border-radius: 15px;
    background-color: white;
    box-shadow: 0px 10px 15px -3px rgba(0,0,0,0.3);;
    margin: auto 0px auto auto;
    padding: 30px;
    min-height: 40vh;
    min-width: 30vw;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
}
#tabela_resposta{
    font-size: 24px;
}
#componentBox{
    display: flex;
    margin: auto;
}
strong{
    color: rgb(34, 190, 252);
    font-size: 30px;
}